@font-face {
  font-family: 'Arial Rounded MT Bold';
  src: local('Arial Rounded MT Bold'),
  url('../../fonts/arial_rounded_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arial Narrow';
  src: local('Arial Narrow'),
  url('../../fonts/arial_narrow.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
  url('../../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
  url('../../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
  url('../../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}