/* Typographical Elements
--------------------------------------------- */

body {
  background-color: #fff;
  color: #000;
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.875;
  margin: 0;
  overflow-x: hidden;
}

body {
  animation: fadein 1s;
}

@keyframes fadein {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img,
.wp-custom-logo .site-title > a,
.wp-custom-logo .title-area,
.site-header {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a {
  color: #06c;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

p {
  margin: 0 0 28px;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  border-width: 0;
  border-collapse: collapse;
  border-top: 1px solid currentColor;
  color: #eee;
  clear: both;
  margin: 1em 0;
}

b,
strong {
  font-weight: 600;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

mark {
  background-color: #ddd;
  color: #000;
}

blockquote {
  margin: 1em;
}

blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}

/* Headings
--------------------------------------------- */



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  margin: 0 0 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

.comment-respond h3,
.entry-comments h3 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-align: center;
}

.comment-respond h3::after,
.entry-comments h3::after {
  border-bottom: 1px solid #000;
  content: "";
  display: block;
  margin: 0 auto 40px;
  padding-bottom: 40px;
  width: 5%;
}

h4 {
  font-size: 20px;
}

.entry-content h2,
.entry-content h3,
.entry-content h4 {
  margin-bottom: 20px;
  margin-top: 40px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.sea-blue {
  color:#439ccc
}
.green
{
  color:#44b063;
}
.night{
  color:#0d556d;
}