footer{
    background-color: #439bcd;
    color: #fff;
    padding: 130px 0 80px 0;

    a{
        color: #fff;
        text-decoration: none;
        outline: none;
        &:focus{
            outline: 0;
        }
        img{
            &.logo{
                outline: none;
                width: 600px;
                height: auto;
            }
        }
    }
    .contact-info{
        margin-top: 30px;
        h3{
            font-size: 18px;
            text-transform: uppercase;
        }
        .phone{
            &+ a{
                display: inline-block;
                margin-right: 20px;
            }
        }
    }
}