.home{
  .banner-slider{
    width: 100%;
    height: 400px;
    .swiper-slide{
      .banner-text{
        position: absolute;
        top:25%;
        left:15%;
        text-align:left;

        h1{
          font-size: 46px;
        }
        p{
          font-family: "Arial Rounded MT Bold",sans-serif;
          font-style: italic;
          font-size: 24px;
          color:#fff;
        }
        sub{
          display: block;
          font-style: normal;
          font-size: 14px;
          margin-left: 1.5rem;
        }
      }
      img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;;
      }
    }
  }
}